## Copyright (C) 2023 Chris Laprade
## 
## This file is part of zippy_config.
## 
## zippy_config is free software: you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 3 of the License, or
## (at your option) any later version.
## 
## zippy_config is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
## 
## You should have received a copy of the GNU General Public License
## along with zippy_config.  If not, see <http://www.gnu.org/licenses/>.


#####################################
##            Set Material         ##
##      Version 1.0  2023-4-2      ##
#####################################

## Set Material-specific Configs
## 
## Add this immediately after your start_print line of the start gcode in Prusa/SuperSlicer:
##     SET_MATERIAL MATERIAL={filament_type[initial_extruder]}
## 
## Add this immediately after your start_print line of the start gcode in Cura:
##     SET_MATERIAL MATERIAL={material_type}
## 
[gcode_macro SET_MATERIAL]
description: Set values based on material type
gcode:
    {% set MATERIAL = params.MATERIAL|default('PLA')|string %} ; Get material type from slicer
    {% set NOZZLE = params.NOZZLE|default(0.4)|float %} ; Get nozzle diameter from slicer
    {% if MATERIAL == 'PLA' %} ; If material type is PLA
        {% if NOZZLE == 0.25 %}
            RESPOND TYPE=error MSG="Need to set PA value for {NOZZLE} and {MATERIAL}"
        {% elif NOZZLE == 0.4 %}
            SET_PRESSURE_ADVANCE ADVANCE=0.069 SMOOTH_TIME=0.040
            SET_GCODE_OFFSET Z_ADJUST=-0.02
            RESPOND TYPE=echo MSG="PA value for Nozzle: {NOZZLE} and Material: {MATERIAL}"
        {% elif NOZZLE == 0.6 %}
            SET_PRESSURE_ADVANCE ADVANCE=0.020 SMOOTH_TIME=0.020
            RESPOND TYPE=echo MSG="PA value for Nozzle: {NOZZLE} and Material: {MATERIAL}"
        {% elif NOZZLE == 0.8 %}
            RESPOND TYPE=error MSG="Need to set PA value for {NOZZLE} and {MATERIAL}"
        {% else %}
            SET_PRESSURE_ADVANCE ADVANCE=0.04 SMOOTH_TIME=0.040 ; Set pressure_advance settings
        {% endif %}
    {% elif MATERIAL == 'ABS' %} ; If material type is ABS
        {% if NOZZLE == 0.25 %}
            RESPOND TYPE=error MSG="Need to set PA value for {NOZZLE} and {MATERIAL}"
        {% elif NOZZLE == 0.4 %}
            #SET_PRESSURE_ADVANCE ADVANCE=0.034 SMOOTH_TIME=0.032 ; Set on 7/24 after testing Atomic/Fusion
            #RESPOND TYPE=echo MSG="PA for {NOZZLE} on {MATERIAL}: PA=0.034 ST=0.032"
            SET_PRESSURE_ADVANCE ADVANCE=0.048 SMOOTH_TIME=0.04 ; Set on 7/24 after testing Atomic/Fusion
            RESPOND TYPE=echo MSG="PA for {NOZZLE} on {MATERIAL}: PA=0.048 ST=0.04"
        {% elif NOZZLE == 0.6 %}
            SET_PRESSURE_ADVANCE ADVANCE=0.015 SMOOTH_TIME=0.020 ; Set pressure_advance settings
            RESPOND TYPE=echo MSG="PA value for Nozzle: {NOZZLE} and Material: {MATERIAL}"
        {% elif NOZZLE == 0.8 %}
            RESPOND TYPE=error MSG="Need to set PA value for {NOZZLE} and {MATERIAL}"
        {% else %}
            SET_PRESSURE_ADVANCE ADVANCE=0.04 SMOOTH_TIME=0.040 ; Set pressure_advance settings
        {% endif %}
    {% elif MATERIAL == 'ASA' %} ; If material type is ABS
        {% if NOZZLE == 0.25 %}
            RESPOND TYPE=error MSG="Need to set PA value for {NOZZLE} and {MATERIAL}"
        {% elif NOZZLE == 0.4 %}
            SET_PRESSURE_ADVANCE ADVANCE=0.040 SMOOTH_TIME=0.040 ; Tuned 4/23 on Polymaker White
            RESPOND TYPE=echo MSG="PA value for Nozzle: {NOZZLE} and Material: {MATERIAL}"
        {% elif NOZZLE == 0.6 %}
            SET_PRESSURE_ADVANCE ADVANCE=0.0225 SMOOTH_TIME=0.020 ; Tuned 4/23 on Polymaker White
            RESPOND TYPE=echo MSG="PA value for Nozzle: {NOZZLE} and Material: {MATERIAL}"
        {% elif NOZZLE == 0.8 %}
            RESPOND TYPE=error MSG="Need to set PA value for {NOZZLE} and {MATERIAL}"
        {% else %}
            SET_PRESSURE_ADVANCE ADVANCE=0.04 SMOOTH_TIME=0.040 ; Set pressure_advance settings
        {% endif %}
    {%else %} ; If any other material type
        SET_PRESSURE_ADVANCE ADVANCE=0.04 SMOOTH_TIME=0.040 ; Set pressure_advance settings
    {% endif %}


## Set nozzle-specific Configs
## 
## Add this immediately after your start_print line of the start gcode in Prusa/SuperSlicer:
##     SET_NOZZLE NOZZLE={nozzle_diameter[initial_extruder]}
## 
## Add this immediately after your start_print line of the start gcode in Cura:
##     SET_NOZZLE NOZZLE={machine_nozzle_size}
## 
[gcode_macro SET_NOZZLE]
description: Set values based on nozzle diameter
gcode:
    {% set NOZZLE = params.NOZZLE|default(0.4)|float %} ; Get nozzle diameter from slicer
    {% if NOZZLE == 0.4 %} ; If nozzle diameter is 0.4
        ## Set z_offset settings
        SET_GCODE_OFFSET Z=0 ; Set z_offset
    {% elif NOZZLE == 0.2 %} ; If nozzle diameter is 0.2
        SET_GCODE_OFFSET Z=0 ; Set z_offset
    {%else %} ; If any other nozzle diameter
        SET_GCODE_OFFSET Z=0 ; Set z_offset
    {% endif %}

## https://github.com/SphaeroX/Klipper-Pressure-advance-Macro
# BOWDEN_LENGTH in centimeters
# LAYER_HEIGHT and NOZZLE_SIZE in millimeters
# PRINT_SPEED in millimeters per secound
[gcode_macro CALCULATE_PA]
gcode:
    {% set material = params.MATERIAL|default("PLA") %}
    {% set bowden_length = (params.BOWDEN_LENGTH|default(31)|float) / 10 %}
    {% set layer_height = params.LAYER_HEIGHT|default(0.2)|float %}
    {% set nozzle_size = params.NOZZLE_SIZE|default(0.4)|float %}
    {% set print_speed = params.PRINT_SPEED|default(180)|float %}
    {% set material_constant = {'PLA': 100, 'PETG': 120, 'ABS': 110, 'Nylon': 130, 'TPU': 150, 'PVB': 100}[material] %}
    {% set vfr = nozzle_size * layer_height * print_speed %}
    {% set pressure_advance = (vfr * bowden_length) / material_constant %}
    SET_PRESSURE_ADVANCE ADVANCE={pressure_advance}

#Call the Pressure Advance macro    #CALCULATE_PA MATERIAL=[filament_type] BOWDEN_LENGTH=20 LAYER_HEIGHT=[layer_height] NOZZLE_SIZE=[nozzle_diameter] PRINT_SPEED=[perimeter_speed
