[gcode_macro PRINT_END]
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    #{% set unload = params.UNLOAD_AT_END|default(1)|int %}
    {% set HOTBED = params.HOTBED|default('NO')|string %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    M117 Calling PRINT_END macro

#    Removed below because it was causing unload to fail since no exteuder movement for MMU
#    M400                                     ; wait for buffer to clear
#    G92 E0                                   ; zero the extruder
    G1 E-2.0 F3600                            ; retract filament
#    G1 E-15 F900                             ; unload it out of hot zone to allow for filament change if desired

    {% if HOTBED|string == 'NO'%}             ; If HOTBED variable in PRINT_END slicer gcode is 0 then cool down the bed, If it's one
      M117 Turning off heaters
      TURN_OFF_HEATERS
#     START_CHAMBER_LED_TIMER                 ; start 1800 second timer to turn off the chamber LEDs
    {% endif %}

#    G90                                      ; absolute positioning
#   G0 X{x_safe} Y{y_safe} Z{z_safe} F20000   ; move nozzle to remove stringing
    _TOOLHEAD_PARK_PAUSE_CANCEL
    M107                                      ; turn off fan
#    G91                                      ; Relative coordinates.
    
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

    #{% if unload|int == 1%}
      #M117 MMU eject and unload
      #SET_DISPLAY_TEXT MSG="Ejecting from PRINT_END macro"
      #MMU_EJECT
    #{% endif %}
    M117

#    CHAMBER_FAN_ON                                  ; Turn on the chamber fan
#    START_FAN_TIMER

    UPDATE_DELAYED_GCODE ID=filter_off DURATION=600
    SET_FAN_SPEED FAN=Nevermore SPEED=0.0
    BED_MESH_CLEAR                                  ; Clear the last bed mesh

# reset nozzle thermal expansion offset

    STATUS_READY
    #M117 PRINT_END has completed